@media (min-width: 350px) and (max-width: 576px) {
  .header__arrow {
    height: 0;
    opacity: 0;
  }

  .section4__circle3 {
    display: none;
  }

  .section3__title h5 {
    padding-left: 2rem;
  }

  .section3__description {
    padding-left: 2rem;
  }

  .section4__text {
    padding-left: 2rem;
  }

  .footer__wrapper {
    padding-left: 2rem;
  }

  .submit {
    margin-bottom: 2rem;
  }

  .section6__main__row {
    padding-bottom: 0;
  }

  .section6__wrapper {
    padding-top: 5rem;
  }

  .section5__wrapper {
    padding-top: 5rem;
  }

  .section4__wrapper {
    padding-top: 4rem;
  }

  .section3_pdt {
    padding-top: 5rem;
  }

  .section2__row__wrapper {
    padding-top: 5rem;
  }

  .section1 {
    padding-bottom: 0;
  }

  .header__buttons__wrapper {
    display: none;
  }

  .header__logo {
    padding-right: 0;
    font-size: 1.6rem;
    line-height: 1.9rem;
  }

  header nav a {
    padding-left: 1rem;
    font-size: 1.2rem;
  }

  .header__buttons__wrapper {
    padding-left: 1rem;
  }

  header nav a:nth-child(1) {
    padding-right: 1rem;
  }

  header nav a:nth-child(2) {
    padding-right: 1rem;
  }

  header nav a:nth-child(3) {
    padding-right: 1rem;
  }

  .header__arrow {
    margin-left: 0;
  }

  .section2__wrapper div {
    margin-top: 2rem;
  }

  .campagins-card {
    margin-top: 2rem;
    width: 300px;
    height: auto;

    &:hover {
      bottom: 0;
      width: 300px;
      height: auto;
    }
  }

  .section3__item {
    width: 100%;
  }

  .section4__text {
    padding-top: 4rem;
  }

  .section5__slider__item {
    justify-content: center !important;
  }

  .section6__left__wrapper {
    padding-left: 2rem;
  }

  .form {
    padding-left: 2rem;
  }

  .section6__right_set__circle1 {
    display: none;
  }

  .form form {
    width: auto;
  }

  .footer__list {
    padding-top: 2rem;
    padding-left: 0;
  }

  .section5__slider {
    .slick-next {
      top: unset;
      right: 20px !important;
      bottom: -50px;
      height: 28px !important;
    }

    .slick-prev {
      top: unset;
      bottom: -50px;
      left: 20px !important;
      z-index: 10;
      height: 28px !important;
    }
  }

  .header__buttons__wrapper img {
    display: none;
    margin-right: 1rem;
  }

  .header__buttons__wrapper a {
    font-size: 1.4rem;
  }

  .section1__title {
    padding-top: 4rem;
    font-size: 3.5rem;
  }

  .section2__wrapper {
    padding-top: 3rem;
  }

  .section2__wrapper__card {
    align-items: center;
    flex-direction: column;
    height: auto;
  }

  .section4__list_custom_pdt {
    padding-top: 0;
  }

  .md-pad {
    padding-top: 2rem;
  }

  .slider__item__avatar img {
    margin-left: 0;
  }

  .slider__item__description p {
    font-size: 1.4rem;
  }
}


@media (min-width: 576px) and (max-width: 768px) {
  .header__buttons__wrapper {
    display: none;
  }

  .header__logo {
    padding-right: 0;
    font-size: 1.6rem;
    line-height: 1.9rem;
  }

  header nav a {
    font-size: 1.4rem;
  }

  .header__buttons__wrapper {
    padding-left: 2rem;
  }

  .header__arrow {
    margin-left: 0;
  }

  .section2__wrapper div {
    margin-top: 2rem;
  }

  .campagins-card {
    margin-top: 2rem;
    width: 300px;
    height: auto;

    &:hover {
      width: 350px;
      height: auto;
    }
  }

  .section3__item {
    width: 100%;
  }

  .section4__text {
    padding-top: 4rem;
  }

  .section5__slider__item {
    justify-content: center !important;
  }

  .section6__left__wrapper {
    padding-left: 2rem;
  }

  .form {
    padding-left: 2rem;
  }

  .section6__right_set__circle1 {
    display: none;
  }

  .form form {
    width: auto;
  }

  .footer__list {
    padding-top: 2rem;
    padding-left: 0;
  }

  .section5__slider {
    .slick-next {
      right: 3px !important;
      height: 42px !important;
    }

    .slick-prev {
      left: 3px !important;
      z-index: 10;
      height: 42px !important;
    }
  }

  .header__buttons__wrapper img {
    margin-right: 1rem;
  }

  .header__buttons__wrapper a {
    font-size: 1.4rem;
  }

  .section1__title {
    padding-top: 4rem;
    font-size: 3.5rem;
  }

  .section2__wrapper {
    padding-top: 3rem;
  }

  .section2__wrapper__card {
    align-items: center;
    flex-direction: column;
    height: auto;
  }

  .section4__list_custom_pdt {
    padding-top: 0;
  }

  .md-pad {
    padding-top: 2rem;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .header__buttons__wrapper {
    display: none;
  }

  .header__logo {
    padding-right: 0;
    font-size: 2.4rem;
  }

  header nav a {
    font-size: 1.6rem;
  }

  .header__buttons__wrapper {
    padding-left: 2rem;
  }

  .header__arrow {
    margin-left: 0;
  }

  .section2__wrapper div {
    margin-top: 2rem;
  }

  .campagins-card {
    width: 151px;

    &:hover {
      width: 200px;
    }
  }

  .section3__item {
    width: 100%;
  }

  .section4__text {
    padding-top: 4rem;
  }

  .section5__slider__item {
    justify-content: center !important;
  }

  .section6__left__wrapper {
    padding-left: 2rem;
  }

  .form {
    padding-left: 2rem;
  }

  .section6__right_set__circle1 {
    display: none;
  }

  .form form {
    width: auto;
  }

  .footer__list {
    padding-top: 2rem;
    padding-left: 0;
  }

  .section5__slider {
    .slick-next {
      right: 3px !important;
      height: 42px !important;
    }

    .slick-prev {
      left: 3px !important;
      height: 42px !important;
    }
  }
}


@media (min-width: 992px) and (max-width: 1199px) {
  .section5 {
    overflow: hidden;
  }

  .section5__slider {
    width: 992px !important;
  }

  .header__logo {
    padding-right: 0;
  }

  .header__buttons__wrapper {
    padding-left: 5rem;
  }

  .campagins-card {
    width: 214px;

    &:hover {
      width: 230px;
    }
  }

  .section3__item {
    width: 280px;
  }

  .section3__description {
    font-size: 1.3rem;
  }

  .section6__left__wrapper {
    padding-left: 2rem;
  }

  .form {
    padding-left: 5rem;
  }

  .footer__wrapper {
    padding-right: 0;
  }
}

@media (min-width: 1200px) and (max-width: 1400px) {
  .footer__wrapper {
    padding-right: 0;
  }

  .header__logo {
    padding-right: 0;
  }

  .section6__left__wrapper {
    padding-left: 20rem;
  }
}
